<%= render 'layouts/header' %>

<div class="ui container segment">
  <h1 class="ui center aligned header">Welcome to CapVote</h1>
</div>

<div class="ui container segment">
  <table class="ui celled striped sortable four column table">
    <tr>
      <th align="center">Team</th>
      <th align="center">Project</th>
      <th align="center">Actions</th>
    </tr>
    <tr>
    </tr>
  </table>
</div>

<%= render 'layouts/footer' %>
