<%= render 'layouts/header' %>

<div class="ui container segment">
  <h1 class="ui center aligned header">Welcome to CapVote</h1>
  <table class="ui celled striped sortable four column table">
    <tr>
      <th align="center">Team</th>
      <th align="center">Project</th>
      <th align="center">Actions</th>
    </tr>
    <%= render 'projects/index' %>
    <tr>
      <td style="text-align:center;">JD 8112</td>
      <td style="text-align:center;">CapVote</td>
      <td style="text-align:center;">
        actions
      </td>
    </tr>
  </table>
  map
</div>

<%= render 'layouts/footer' %>
