<%= render 'layouts/header' %>
<div class="ui container segment">
  <%= image_tag "/klausatrium_lg.jpg" %>
  <%= link_to "Project List", logged_in_home_path(), :class => "ui fluid primary button" %>
</div>
<%= render 'layouts/footer' %>
