<%= render 'layouts/header' %>

<div class="ui container segment">
  <%= link_to image_tag("/klausatrium_lg_label.png"), map_home_path() %>
  <%= link_to "Project List", logged_in_home_path(), :class => "ui fluid primary button" %>
</div>

<%= render 'layouts/footer' %>
