<div class="ui container segment">
  <h2 class="ui center aligned header">Projects</h2>
  <table class="ui celled very compact three column unstackable striped table">
    <tr>
      <th align="center">Team</th>
      <th align="center">Project Name</th>
      <th align="center">Votes</th>
    <% if @projects && @projects.count != 0 %>
      <% @projects.each do |project| %>
      <tr>
        <td style="text-align:center;"><%= project.team %></td>
        <td style="text-align:center;"><%= project.name %></td>
        <td style="text-align:center;"><%= project.vote_count %></td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3" style="text-align:center;">
          <div class="ui fluid white label">
            No current projects
          </div>
        </td>
      </tr>
    <% end %>
    </tr>
  </table>
</div>
