</section>
<div class="ui black inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="seven wide column">
      CapVote is designed by Team JD8112. Code is their intellectual property
      </br>
    </div>
  </div>
</div>
</body>
